* {
  margin: 0px;
  padding: 0px;
}
body {
  padding: 0px;
  background-color: rgba(88, 87, 87, 0.8);
}

nav {
  background-color: rgb(151, 6, 6);
  color: white;
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 8vh;
}
.logo {
  padding: 10px 0px 0px 25px;
  font-size: 5em;
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  text-decoration: none;
  list-style-type: none;
  position: fixed;
  margin-left: 80%;
  margin-top: 1%;
}
ul li {
  display: inline-block;
  padding: 20px;
  font-size: 2em;
}
