* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  padding: 0px;
  background-image: url("white.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

nav {
  background-color: rgb(211, 31, 31);
  color: white;
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 8vh;
}
.logo {
  padding: 10px 0px 0px 55px;
  font-size: 5vh;
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  text-decoration: none;
  list-style-type: none;
  position: fixed;
  text-transform: uppercase;
  margin-left: 69%;
  margin-top: 0.4%;
  
}
ul li {
  display: inline-block;
  padding: 20px;
  font-size: 2vh;
}
ul li.drop{
  cursor: pointer;
}
.introduction{
  position: relative;
  margin-left: 20px;
}
.introduction img.KU{
  border-radius: 5px;
  width:40%;
  height: auto;
  position: relative;
  top:100px;
}
.introduction p.hey{
  background-color: rgb(211, 31, 31);
  color:white;
  position: absolute;
  padding:14px;
  top:120px;
  border-radius: 10px;
  font-size: 2vh;
  margin-left: 50%;;
}

